<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.novel.dao.PasswordResetMapper">

    <resultMap id="tokenResultMap" type="com.novel.domain.PasswordResetToken">
        <id property="tokenId" column="token_id" />
        <result property="userId" column="user_id" />
        <result property="token" column="token" />
        <result property="expiresAt" column="expires_at" />
        <result property="used" column="used" />
        <result property="createdAt" column="created_at" />
    </resultMap>

    <insert id="insertToken" parameterType="com.novel.domain.PasswordResetToken" useGeneratedKeys="true" keyProperty="tokenId">
        INSERT INTO password_reset_token (user_id, token, expires_at, used)
        VALUES (#{userId}, #{token}, #{expiresAt}, FALSE)
    </insert>

    <select id="selectByToken" resultMap="tokenResultMap">
        SELECT * FROM password_reset_token WHERE token = #{token}
    </select>

    <update id="markTokenUsed">
        UPDATE password_reset_token SET used = TRUE WHERE token_id = #{tokenId}
    </update>

    <update id="invalidateTokensForUser">
        UPDATE password_reset_token SET used = TRUE WHERE user_id = #{userId} AND used = FALSE
    </update>

</mapper>
